<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>

  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <div class="container ">
    <div class="table-responsive">
      <table border="1" class="table table-bordered table-hover  ">
        <tr class="bg-info text-white" >
          <th>ID</th>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Dni</th>
          <th>Correo</th>
          <th>Telefono</th>
          <th>Direccion</th>
          <th>Deuda</th>
        </tr>

        <% for(i =0 ; i < datos.length; i++) { %>
        <tr>
          <th><%= datos[i].id_cliente%></th>
          <th><%= datos[i].cod_cliente%></th>
          <th><%= datos[i].nombre_cliente%></th>
          <th><%= datos[i].apellido_cliente%></th>
          <th><%= datos[i].dni_cliente%></th>
          <th><%= datos[i].correo_cliente%></th>
          <th><%= datos[i].telefono_cliente%></th>
          <th><%= datos[i].direccion%></th>
          <th><%= datos[i].deuda%></th>
        </tr>
        <% } %>
      </table>
    </div>
  </div>
  

</body>

</html>